{%- liquid
  assign current_variant = product.selected_or_first_available_variant
-%}
<div myModal id="myModal" class="modal-quickview quick-modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-main">
      <div class="modal-image col-lg-7">
        <div data-type="slider" class="product-images-wrapper pr-lg-4 text-center" data-main-slider>
          {% if product.featured_image != blank %}
            <slider-element class="swiper-container swiper-main">
              <div
                class="swiper swiper-slider product-carousel quickshop-slider"
                data-nav="product-thumbnails"
                data-slider='
                  {
                    "loop": false,
                    "slidesPerView": "1",
                    "spaceBetween": 15,
                    "grabCursor": true,
                    "navigation": {
                      "nextEl": ".swiper-button-next",
                      "prevEl": ".swiper-button-prev"
                    },
                    "pagination": {
                      "el": ".swiper-pagination"
                    }
                  }
                '
                role="tree"
              >
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                    <div
                      class="swiper-slide carousel-cell d-flex align-items-center product--media"
                      data-mediaID="{{ image.id }}"
                      role="treeitem"
                    >
                      <img
                        data-index="{{forloop.index}}"
                        id="quickViewImage"
                        srcset="
                          {%- if image.src.width >= 350 -%}{{ image.src | image_url: width: 350 }} 350w,{%- endif -%}
                          {%- if image.src.width >= 550 -%}{{ image.src | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if image.src.width >= 750 -%}{{ image.src | image_url: width: 750 }} 750w,{%- endif -%}
                          {%- if image.src.width >= 991 -%}{{ image.src | image_url: width: 991 }} 991w,{%- endif -%}
                          {%- if image.src.width >= 1200 -%}{{ image.src | image_url: width: 1200 }} 1200w,{%- endif -%}
                          {%- if image.src.width >= 1500 -%}{{ image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                          {{ image.src | image_url }} {{ image.src.width }}w
                        "
                        src="{{ image.src | image_url: width: 1500 }}"
                        loading="lazy"
                        data-variant-title="{{ image.alt | escape }}"
                        sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width | divided_by: 2 }}px, 100vw"
                        alt="{{ image.alt | default: product.title | escape }}"
                        width="{{ image.src.width }}"
                        height="{{ image.src.width | divided_by: image.src.aspect_ratio | round }}"
                      >
                    </div>
                  {% endfor %}
                </div>
                <div class="swiper-button-next icon-next"></div>
                <div class="swiper-button-prev icon-previous"></div>
              </div>
            </slider-element>
            <!-- Nav Slider functionality is not available directly. Custom Set up for Nav -->
            <div class="swiper-container" data-thumbSlider data-direction="horizontal">
              <div
                class="swiper swiper-slider product-thumbnails"
                data-slider='
                  {
                    "direction":"horizontal",
                    "loop": false,
                    "slidesPerView": "5",
                    "spaceBetween": 10,
                    "grabCursor": true,
                    "slideToClickedSlide": true,
                    "breakpoints": {
                      "768": {
                        "direction":"{% if section.settings.template_type == 'classic-vertical' %}vertical{%else%}horizontal{% endif %}",
                        "slidesPerView": "6",
                        "spaceBetween": 15
                      }
                    }
                  }
                '
                role="tree"
              >
                <div class="swiper-wrapper">
                  {% for media in product.media %}
                    {% if media.media_type == 'image' %}
                      {% assign image = media %}
                      <div class="swiper-slide product-thumb--image" data-mediaID="{{ image.id }}" role="treeitem">
                        <img
                          class="img-fluid"
                          src="{{ image.src | image_url }}"
                          srcset="{{ image.src | image_url: width: 250 }}"
                          sizes="250px"
                          loading="lazy"
                          width="{{ image.width }}"
                          height="{{ image.width | divided_by: image.aspect_ratio }}"
                          alt="{{ image.alt | default: product.title | escape }}"
                        >
                      </div>
                    {% elsif media.media_type == 'external_video' or media.media_type == 'video' %}
                      <div
                        class="swiper-slide product-thumb--image media--video"
                        data-mediaID="{{ media.id }}"
                        role="treeitem"
                      >
                        <img
                          class="img-fluid"
                          src="{{ media.preview_image.src | image_url }}"
                          srcset="{{ media.preview_image.src | image_url: width: 250 }}"
                          sizes="250px"
                          loading="lazy"
                          width="{{ media.preview_image.width }}"
                          height="{{ media.preview_image.width | divided_by: media.preview_image.aspect_ratio }}"
                          alt="{{ media.alt | default: product.title | escape }}"
                        >
                        <span class="icon-play position-absolute"></span>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
          {% endif %}
        </div>
      </div>
      <div class="close-quickview">
        <span class="icon-close"></span>
      </div>
      <div class="quickview-content col-lg-5">
        <h1 class="product-title">{{ product.title }}</h1>
        {%- if current_variant.compare_at_price > current_variant.price -%}
          <span class="h6 text-gray-600 mr-2 money compare-price" data-comparePrice>
            {{- current_variant.compare_at_price | money -}}
          </span>
        {%- endif -%}
        <span class="h5 actual-price money">{{ product.price | money }}</span>
        <div class="variant_picker">
          {% render 'product-form', product: product, current_variant: current_variant %}
        </div>
        {% if product.description %}
          <h6 class="mt-5 mb-2">{{ 'products.product.description' | t }}</h6>
          <div class="rte quick-view-des">
            <p>{{ product.description }}</p>
          </div>
        {% endif %}
        {% if settings.show_social_share %}
          <h6 class="mt-5 mb-2">{{ 'products.product.share' | t }}</h6>
          {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script id="json-data">
  {{ product | json }}
</script>
